<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="black.mueller.pid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="Dual-PID"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.DualPID">

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:label="@string/title_settings" />

        <activity
            android:name=".ui.AppInfoActivity"
            android:exported="false"
            android:label="@string/title_app_info" />

        <activity
            android:name=".ui.OnboardingActivity"
            android:exported="false"
            android:label="@string/title_onboarding" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
